.leaflet-container{
    width: 80%;
    max-width: 800px;
    height: 40vh;
}

.map__popup__img-container{
    width: 80%;
    height: 200px;
    overflow: hidden;
}

.map__popup__img-container img{
    width: 100%;
}

.map__popup__name{
    color: #3a2525ed;
    font-size: 1.2rem;
    text-decoration: underline;

}

.leaflet-popup-content{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
    max-height: 200px;
    max-width: 230px;
}

.leaflet-popup-content p{
    margin: 0;
}

.map__popup__characteristics{
    width: 100%;
}

.map__popup__characteristics li{
    list-style-type: circle;
    margin-left: 1rem;
}