.school-card{
    position: relative;
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.school-card:hover{
    -webkit-box-shadow: 1px 1px 15px 5px #FFB2B2; 
box-shadow: 1px 1px 15px 5px #FFB2B2;
}

.school-card__background-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;


}

.school-card__background-container img{
    width: 100%;
    height: 100%;

}

.school-card__background{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.school-card__info{
    position: absolute;
    color: white;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(37, 37, 37);
}